
  body {
    background-color: #BF8B67;
}
  h1 {
    color: #632626;
  }

  h3 {
    color: #632626;
  }


  hr {
    border-style: dotted none none;
    height: 0px;
    border-color: #632626;
    border-width: 5px;
    width: 70%;

  }
